{% extends 'base.html.twig' %}


{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1 class="ml-3">Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('article/_delete_form.html.twig') }}

    <a class="ml-4" href="{{ path('article_index') }}">Back to list</a>
{% endblock %}
